
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "SF Pro Display",  sans-serif;
  font-size: 17px
}


.container{
  width: 375px;
  height: 812px;
  margin: auto 0;
}
.status {
  height:30px;
  background-color: black;
  width: 100%;
}
.time {
  color: white;
  text-align: Left;
  padding: 15px 0 0 15px;
  font-size: 15px
}

.icons {
  float: right;
  color: white;
  padding: 15px 15px 0 0;
}

.nav {
  margin: 0 auto;
  padding: 5px 0 5px 15px;
  height: 50px;
  background-color: black;
}

.title {
  color: white;
  text-align: center;
  padding: 10px 0px 0 0px;
}

.tableHead {
    margin: 0;
    padding: 15px 0 15px 15px;
    height: 50px;
    background-color: black;
    color: white;
  }

  .busList {
    height: 307px;
    width: 100%;
    overflow-y: scroll;
  }

.row {
  width: 100%;
  border-bottom: 2px solid lightgray
}

h3.destination {
  padding: 10px 0px 10px 50px;
  font-size: 17px
  width: 50%;
  background-color: white;
  display: inline-block;
}

h2.line {
   padding: 10px 0 0 15px;
  font-weight: bold;
  font-size: 20px
  width: 25%;
  background-color: white;
  float: left;

}



h4.arrival {
 padding: 10px 0 0 0;
  width: 20%;
  background-color: white;
  float: right;
}
