*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "SFPro Text", sans-serif;
  font-size: 17px;
}

.container{
  width: 375px;
  height: 812px;
  margin: auto 0;
}

.status {
  height:30px;
  background-color: black;
  width: 100%;
}

.time {
  color: white;
  text-align: Left;
  padding: 8px 0 0 8px;
  font-size: 12px
}

.icons {
  float: right;
  color: white;
  padding: 8px 8px 0 0;
}


nav {
  margin: 0 auto;
  height: 50px;
  background-color: black;
}

.title {
  color: white;
  padding: 10px 0px 0 80px;
  display: inline-block;
}

.backArrow {
  color: white;
  padding: 8px 0 0 8px;
  float: left;
  display: inline-block;
}

header {
    margin: 0;
    padding: 15px 0 15px 15px;
    height: 50px;
    background-color: black;
    color: white;
  }

  .busList {
    height: 307px;
    width: 100%;
    overflow-y: scroll;
  }

.row {
  width: 100%;
  border-bottom: 2px solid lightgray;
}

h3.destination {
  padding: 10px 0px 10px 0px;
  font-size: 17px;
  width: 50%;
  background-color: white;
}

.destination span {
  display: block;
}

h2.line {
   padding: 10px 0 0 15px;
  font-weight: bold;
  font-size: 20px;
  width: 25%;
  background-color: white;
  float: left;

}

.line span {
  display: block;
}

h4.arrival {
  padding: 10px 0 0 0;
  width: 20%;
  background-color: white;
  float: right;
}
.arrival span {
  display: block;
}
