
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  font-size: 44px;
  width: 1125px;
  height: 2436px;
}

}
.status {
  height:132px;
  background-color: black;
}
.time {
  color: white;
  text-align: Left;
  font-size: 44px;
  padding-left: 44px;
  padding-top: 44px;
}
.icons {
  text-align: right;
  color: white;
}

.nav {
  margin: 0 auto;
  padding: 5px 0 5px 15px;
  height: 132px;
  background-color: black;
}
.title {
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.content {
  width: 90%;
}

h2.line {
  padding: 1em 0 0 1em;
  margin: 0;
  font-weight: bold;
  font-size: 44px;
  width: 100%;
  background-color: white;
}

h3.destination {
  padding: 0 0 1.2em 1.2em;
  margin: 0;
  font-size: 44px;
  width: 100%;
  background-color: white;
}

h4.arrival {
 padding: 1em 0 0 1em;
  margin: 0;
  font-size: 44px;
  width: 100%;
  background-color: white;
}

.destination, .arrival, .line {
display: inline-block;
}
